

@{
    var successMessage = TempData["Success"];
    var errorMessage = TempData["Error"];
}

@if (successMessage != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @successMessage
    </div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @errorMessage
    </div>
}



